
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Dashboard
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="#" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-dashboard"></i>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="" class="m-nav__link">
                        <span class="m-nav__link-text">Dashboard</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__body d-lg-block" style="background-color:ghostwhite">
            <div class="dashboard d-md-inline-block ">
                <div class="panel-body painel">
                    <div class="total">
                        <span id="somaDespesa" class="text-lg-center text-md-center text-primary">00,00</span>
                        <span class="text-lg-center text-uppercase text-justify">Valor</span>
                    </div>
                    <div class="iconeslaterais pull-right">
                        <i class="fa fa-search"></i>
                        <img src="~/Assets/app/media/img/if_bank.png" class=" image" />
                    </div>
                    <div class="progress">
                        <div id="progressoDespesa" class="progress-bar progress-bar-animated" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span class="spanprogress">Soma de despesas</span>
                    <span class="spanprogress" id="qtdDespesa">0</span>
                </div>
            </div>

            <div class="dashboard d-md-inline-block m--pull-right">
                <div class="panel-body painel">
                    <select class="select2-dropdown--below custom-select custom-select-sm pull-right" id="relatorio-options">
                        <option value="" selected disabled>--Selecione--</option>
                    </select>
                    <div class="total">
                        <span id="somaRelatorio" class="text-lg-center text-md-center text-info">00,00</span>
                        <span class="text-lg-center text-uppercase text-justify">Valor</span>
                    </div>
                    <div class="iconeslaterais m--pull-right">
                        <i class="fa fa-search"></i>
                        <img src="~/Assets/app/media/img/if_sign-in.png" class="image" />
                    </div>
                    <div class="progress">
                        <div id="progressoRelatorio" class="progress-bar progress-bar-animated" role="progressbar" style="width: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span class="spanprogress">Soma de Relatórios</span>
                    <span class="spanprogress" id="qtdRelatorio">0</span>
                </div>
            </div>
        </div>
    </div>
</div>
